appdirs==1.4.4
beautifulsoup4==4.9.3
certifi==2020.6.20
chardet==3.0.4
coloredlogs==14.0
docopt==0.6.2
fs==2.4.11
future==0.18.2
humanfriendly==8.2
idna==2.10
instaloader==4.5.3
instalooter==2.4.4
lxml==4.5.2
python-dateutil==2.8.1
pytz==2020.1
requests==2.24.0
six==1.15.0
soupsieve==2.0.1
tenacity==6.2.0
tqdm==4.50.2
urllib3==1.25.10
verboselogs==1.7
